/thesaurus-api/target/
/thesaurus-api/.idea/
.idea
/wordnet-importer/target/
/thesaurus-frontend/node_modules/
/thesaurus-frontend/src-tauri/target/
/thesaurus-frontend/dist/
/terraform/terraform.tfvars
/terraform/.terraform/
/terraform/terraform.tfstate
/terraform/terraform.tfstate.backup
/terraform/.terraform.lock.hcl
/terraform.tfstate
/terraform/tfplan
.env
/.env.secrets
/terraform/.terraform.tfstate.lock.info
/terraform/files/.env.generated
/terraform/files/docker-compose.yml
/thesaurus-frontend/ios/
/terraform/files/nginx.conf
